.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.zilla-slab-regular {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
}
.box {
    padding-top: 15px;
    padding-left: 25px;
}
body, h1, p{
    margin: 0;
    padding: 0;
}
.box-2 {
    padding-left: 55px;
    padding-top: 20px;
}
body {
    background-color: #E7E2DC;
}
h1, h2, h3, p, div, footer {
    padding-left: 20px;
}
a:link {
    color: none;
}
div {
    padding-top: 20px;
}