.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.zilla-slab-regular {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
}
body, h1, p{
    margin: 0;
    padding: 0;
}
#bod {
    height: 100vh;
    background: no-repeat linear-gradient(210deg, rgba(100, 118, 106, 1) 35%, rgba(148, 167, 174, 1) 50%)
}
.pad-left {
    padding-left: 20px;
}
.div {
    padding-top: 10px;
}
.div-2 {
    padding-left: 10px;
}
.box-div {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 4px;
}
.new {
    padding-bottom: 3px;
}
.column {
    float: right;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.i {
    padding-top: 10px;
    padding-left: 15px;
}
.prevent-select{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.why-back {
    background-color: #f4f2f3;
}
.why {
    color: #f4f2f3;
}
.lav-back {
    background-color: #c0a9bd;
}
.lav {
    color: #c0a9bd;
}
.blu-back {
    background-color: #94a7ae;
}
.blu {
    color: #94a7ae;
}
.gre-back {
    background-color: #64766a;
}
.gre {
    color: #64766a;
}
.div-pad-right {
    padding-right: 20px;
}
.div-pad-top {
    padding-top: 7px;
}
.div-fo {
    font-size: 28px;
}

#typ {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    padding-top: 5px;
    padding-bottom: 7px;
}
#typ2 {
    font-size: 20px;
    padding-top: 5px;
    float: left;
}
#header, #ask, #ask2 {
    font-size: 24px;
    padding-left: 0px;
}
#p3 {
    font-size: 20px;
    font-weight: bold;
}
#btn {
    height: 30px;
    font-size: 15px;
}
#btn2, #btn3 {
    height: 30px;
    font-size: 15px;
    visibility: hidden;
}
#input{
    width: 150px;
    height: 24px;
    font-size: 24px;
}
#input2, #input3 {
    width: 150px;
    height: 24px;
    font-size: 24px;
    visibility: hidden;
}
#h1 {
    padding-left: 10px;
    font-size: 24px;
}