.roboto-medium {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
}
.zilla-slab-regular {
    font-family: "Zilla Slab", serif;
    font-weight: 400;
    font-style: normal;
}
body, h1, p{
    margin: 0;
    padding: 0;
}
.pad-left {
    padding-left: 20px;
}
.div {
    padding-top: 10px;
}
.div-2 {
    padding-left: 10px;
}
.box-div {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 4px;
}
.new {
    padding-bottom: 3px;
}
.column {
    float: right;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
.i {
    padding-top: 10px;
    padding-left: 15px;
}
.prevent-select{
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.why {
    color: #f4f2f3
}
.lav {
    color: #c0a9bd
}
.blu-back {
    background-color: #94a7ae
}
.blu {
    color: #94a7ae
}
.gre {
    color: #64766a
}
.div-pad-right {
    padding-right: 20px;
}
.div-pad-top {
    padding-top: 7px;
}
.div-fo {
    font-size: 28px;
}