---
import "./css/custom.css";
import Icon from '@/components/Icon.astro';
import FontDoc from '@/components/FontDoc.astro';
import HeaderGuides from "@/components/HeaderGuides.astro";
import Sidebar from "@/components/Sidebar.astro";
import CustomJS from "@/other/docs/CustomJS.astro";
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <FontDoc />
        <Icon />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Documentation | Guides</title>
    </head>
    <body>
        <HeaderGuides />
        <Sidebar />
        <CustomJS />
    </body>
</html>