---
import './css/ukmcl.css';
import UKMCLJS from '@/astroJS/UKMCLJS.astro';
import Icon from '@/components/Icon.astro';
---
<!doctype html>
    <head>
        <Icon />
    </head>
<html>
    <body>
        
    </body>
</html>