---
import "./css/download-unkmod.css";
import FontDown from "@/components/download/FontDown.astro";
import Icon from "@/components/Icon.astro";
import HeaderDown from "@/components/download/HeaderDown.astro";
import Meta from "@/components/Meta.astro";
---
<!doctype html>
<html lang="en">
    <head>
        <FontDown />
        <Icon />
        <Meta />
        <title>Downloads</title>
    </head>
    <body>
        <HeaderDown />
        <div id="up">
            <a>
                <img src="../upbutton.svg" height="60" width="60">
            </a>
        </div>
    </body>
</html>