html {
    scroll-behavior: smooth;
}

.lexend-reg {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #1c1b1f;
    padding: 0;
    margin: 0;
}

li, .thing {
    font-size: 18px;
    text-decoration: none;
    color: rgba(231, 228, 238, 90%);
}

.header::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    border-bottom: 0.015vh solid #e8edfc;
}

#home {
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 3s ease;
    color: #e9e7ee;
}

#home:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.home {
    padding-top: 1em;
    padding-left: 1.25em;
    font-size: 20px;
    transform: translateY()
}

.icon {
    padding: 1.5vh 0 1.25vh 1.75vh;
}

#icon:hover {
    box-shadow: 1px 1px 15px #e9e7ee;
}

.column {
    float: left;
}

#side {
    line-height: 30px;
    width: 15vw;
    background-color: #131212;
    height: 100vh;
    padding-top: 1px;
}

.extend {
    position: fixed;
}