---
import "../docs.css";
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/svg+xml" href="../favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
        <title>Documentation</title>
    </head>
    <body>
        <div class="header">
            <div class="icon column">
                <a href="https://github.com/TheUnknownGroup" target="_blank" id="github">
                    <img src="../assets/favicon.png" alt="TheUnknownGroup's Icon" width="40" id="icon"/>
                </a>
            </div>
            <div class="column home">
                <a class="lexend-reg" id="home" href="">Home</a>
            </div>
            <div class="column guide">
                <a href="docs/guides" class="lexend-reg" id="guide">Guides</a>
            </div>
        </div>
        <script src="/src/js/docs.js"></script>
    </body>
</html>