---
import "../docs.css";
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/svg+xml" href="../favicon.svg" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap" rel="stylesheet">
        <title>Documentation</title>
    </head>
    <body>
        <div class="header" id="h">
            <div class="icon column">
                <a href="https://github.com/TheUnknownGroup" target="_blank" id="github">
                    <img src="../assets/favicon.png" alt="TheUnknownGroup's Icon" width="40" id="icon"/>
                </a>
            </div>
            <div class="column home">
                <a onclick="location.reload()" class="lexend-reg" id="home">Home</a>
            </div>
            <div class="column guide">
                <a href="docs/guides" class="lexend-reg" id="guide">Guides</a>
            </div>
            <div class="column scroll">
                <a class="lexend-reg" id="scroll">Doc Pages</a>
            </div>
        </div>
        <h1 class="lexend-reg" id="wel">Welcome to our Documentation page!</h1>
        <div id="contain1">
            <div id="inside1">
                <h2 class="lexend-reg">About</h2>
                <p class="lexend-reg" id="subWel">
                    This is the documentation part the TheUnknownGroup's Website. You can find the main website <a id="main" onclick="window.open('https:/theunknowngroup.github.io', '_self')">here.</a><br><br>
                    • If you need to find guides, you can click <a id="bot">here</a> and go to the bottom of this page and click on the one of your choosing. <br><br>
                    • Or, you can click <a id="gui" onclick="window.open('https:/theunknowngroup.github.io/docs/guides', '_self')">here</a> and go to the guides page.
                </p>
            </div>
        </div>
        <div id="up">
            <a>
                <img src="../upbutton.svg" height="60" width="60">
            </a>
        </div>
        <h1 class="lexend-reg head">Documentation Pages</h1>
        <div class="box" id="example">
            <div class="container1">
                <div class="card">
                    <div class="h">
                        <div class="col">
                            <img class="img" src="../assets/unknownmod.png" width="64">
                        </div>
                        <div class="col">
                            <h1 class="lexend-reg uptop">
                                Unknown Mod
                            </h1>
                        </div>
                    </div>
                    <p class="lexend-reg p">
                        This is a test card
                    </p>
                </div>
                <div class="card">
                    <div class="h">
                        <div class="col">
                            <img src="../assets/icon.png" class="img" width="64">
                        </div>
                        <div class="col">
                            <h1 class="lexend-reg uptop">
                                UKMCL - Unknown MC Launcher
                            </h1>
                        </div>
                    </div>
                    <p class="lexend-reg p">
                        This is a test card
                    </p>
                </div>
                <div class="card">
                    <div class="h">
                        <div class="col">
                            <img src="../assets/customsplashes.png" class="img" width="64">
                        </div>
                        <div class="col">
                            <h1 class="lexend-reg uptop">
                                Custom Splashes
                            </h1>
                        </div>
                    </div>
                    <p class="lexend-reg p">
                        This is a test card
                    </p>
                </div>
            </div>
            <div class="container2">
            </div>
        </div>
        <script src="/src/js/docs.js"></script>
    </body>
</html>