---
import "@/docs.css";
import DocsJS from "@/other/docs/DocsJS.astro";
import Icon from '@/components/Icon.astro';
import FontDoc from '@/components/FontDoc.astro';
import HeaderDoc from '@/components/HeaderDoc.astro';
---
<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <Icon />
        <FontDoc />
        <title>Documentation</title>
    </head>
    <body>
        <HeaderDoc />
        <h1 class="lexend-reg" id="wel">Welcome to our Documentation page!</h1>
        <div id="contain1">
            <div id="inside1">
                <h2 class="lexend-reg">About</h2>
                <p class="lexend-reg" id="subWel">
                    This is the documentation part the TheUnknownGroup's Website. You can find the main website <a id="main" onclick="window.open('http:/web.thegremlinx.xyz', '_self')">here.</a><br><br>
                    • If you need to find guides, you can click <a id="bot">here</a> and go to the bottom of this page and click on the one of your choosing. <br><br>
                    • Or, you can click <a id="gui" onclick="window.open('http:/web.thegremlinx.xyz/docs/guides', '_self')">here</a> and go to the guides page.
                </p>
            </div>
        </div>
        <div id="up">
            <a>
                <img src="../upbutton.svg" height="60" width="60">
            </a>
        </div>
        <h1 class="lexend-reg head">Documentation Pages</h1>
        <div class="box" id="example">
            <div class="container1">
                <div class="card">
                    <div class="h">
                        <div class="col">
                            <a href="./docs/unkmod">
                                <img class="img" src="../assets/unknownmod.png" width="64">
                            </a>
                        </div>
                        <div class="col">
                            <h1 class="lexend-reg uptop">
                                <a href="./docs/unkmod" class="link">Unknown Mod</a>
                            </h1>
                        </div>
                    </div>
                    <p class="lexend-reg p">
                        Unknown Mod is a Minecraft Mod that has 2 features, the <strong>Unknown Block</strong> and the <strong>Unknown Item</strong>.
                    </p>
                </div>
                <div class="card">
                    <div class="h">
                        <div class="col">
                            <a href="./docs/ukmcl">
                                <img class="img" src="../assets/icon.png" width="64">
                            </a>
                        </div>
                        <div class="col">
                            <h1 class="lexend-reg uptop">
                                <a href="./docs/ukmcl" class="link">UKMCL - Unknown MC Launcher</a>
                            </h1>
                        </div>
                    </div>
                    <p class="lexend-reg p">
                        This launcher is currently a work in progress, more information about it will come as soon as it is able to be used by all.
                    </p>
                </div>
                <div class="card">
                    <div class="h">
                        <div class="col">
                            <a href="./docs/custom">
                                <img class="img" src="../assets/customsplashes.png" width="64">
                            </a>
                        </div>
                        <div class="col">
                            <h1 class="lexend-reg uptop">
                                <a href="./docs/custom" class="link">Custom Splashes</a>
                            </h1>
                        </div>
                    </div>
                    <p class="lexend-reg p">
                        This is a resource pack that is very simple, you can add, change, and remove text for the splashes (the yellow text near the Minecraft title screen).
                    </p>
                </div>
            </div>
        </div>
        <DocsJS />
    </body>
</html>
