---
import FontDown from '@/components/download/FontDown.astro';
import Icon from '@/components/Icon.astro';
import '@/download.css';
---
<!doctype html>
<html>
    <head>
        <FontDown />
        <Icon />
        <title>Download Latest</title>
    </head>
</html>