---
import FontDown from '@/components/download/FontDown.astro';
import Icon from '@/components/Icon.astro';
import Meta from "@/components/Meta.astro";
import '@/download.css';
---
<!doctype html>
<html>
    <head>
        <FontDown />
        <Icon />
        <Meta />
        <title>Download Latest</title>
    </head>
    <body>
        
    </body>
</html>