---
import "@/download.css";
import DownloadJS from "@/other/download/DownloadJS.astro";
import FontDown from "@/components/download/FontDown.astro";
import Icon from "@/components/Icon.astro";
import DownloadC from "@/components/download/DownloadC.astro";
---
<!doctype html>
<html lang="en">
    <head>
        <FontDown />
        <Icon />
    </head>
    <body>
        <DownloadC />
        <DownloadJS />
    </body>
</html>