---
import "@/style.css";
import IndexJS from '@/astroJS/IndexJS.astro';
import Icon from '@/components/Icon.astro';
import FontNav from '@/components/FontNav.astro';
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<Icon />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<FontNav />
        <script src="https://kit.fontawesome.com/42f8b8e338.js" crossorigin="anonymous"></script>
		<IndexJS />
		<title>Unknown's Website</title>
	</head>
	<body class="blu-back">
		<div class="box-div new div-2">
			<div class="row">
				<div id="typel">
					<a id="links">Links</a>
				</div>
				<div id="typen">
					<a id="news">News</a>
				</div>
				<div id="typet">
					<a id="temp">Temp Converter</a>
				</div>
				<div id="typ2">
					<a onclick="document.location='.'" target="_self">
						<i class="fa-solid fa-book-open i prevent-select"> The Unknown Group</i>
					</a>
				</div>
			</div>
		</div>
		<h3 class="roboto-medium pad-left" style="font-size: 22px;">Welcome! &#128075</h3>
		<h3 style="font-size: 20px" class="roboto-medium pad-left">Information</h3>
        <p style="font-size: 20px; margin-left: 25px;" class="roboto-medium pad-left">
            This is the website for <code> The Unknown Group's </code> repositories.  
            This website will be updated everytime there is anything new going on, new repositories, or new members!
        </p>
        <br>
        <p class="roboto-medium pad-left" style="font-size: 20px; margin-left: 25px;">
            If you need help with any of our software, sites, or little things that are very customizable: click 
            <a onclick="document.location='docs'" target="_self" style="cursor: pointer;">here</a>
        </p>
        <br>
        <footer class="zilla-slab-regular new pad-left">Made by Devon Kaylor</footer>
	</body>
</html>