<div class="header" id="h">
    <div class="icon column">
        <a href="https://github.com/TheUnknownGroup" target="_blank">
            <img src="../assets/favicon.png" alt="TheUnknownGroup's Icon" width="40" id="icon"/>
        </a>
    </div>
    <div class="column home">
        <a href="../docs" class="lexend-reg" id="home">Home</a>
    </div>
    <div class="column guide">
        <a href="../docs/guides" class="lexend-reg" id="guide">Guides</a>
    </div>
    <div class="column scroll">
        <a class="lexend-reg" id="scroll">Doc Pages</a>
    </div>
</div>

<style>
    .column {
        float: left;
    }

    .icon {
        padding: 1.5vh 0 1.25vh 1.75vh;
    }

    #icon:hover {
        box-shadow: 1px 1px 15px #e9e7ee;
    }

    .header::after {
        content: "";
        clear: both;
        display: table;
    }

    .header {
        border-bottom: 0.015vh solid #e8edfc;
    }

    #home, #guide, #scroll {
        cursor: pointer;
        text-decoration: none;
        transition: text-decoration 3s ease;
        color: #e9e7ee;
    }

    #home:hover, #guide:hover, #scroll:hover, #main:hover, #bot:hover, #gui:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .home, .guide, .scroll {
        padding-top: 1em;
        padding-left: 1.25em;
        font-size: 20px;
        transform: translateY()
    }
</style>