<div class="header" id="h">
    <div class="icon column">
        <a href="https://github.com/TheUnknownGroup" target="_blank">
            <img src="../assets/favicon.png" alt="TheUnknownGroup's Icon" width="40" id="icon"/>
        </a>
    </div>
    <div class="column home">
        <a href="../docs" class="lexend-reg" id="home">Home</a>
    </div>
</div>