---
import "../../style.css";
---
<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" type="image/svg+xml" href="../../favicon.svg" />
		<link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&family=Zilla+Slab&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/42f8b8e338.js" crossorigin="anonymous"></script>
        <script src="/src/js/temp.js"></script>
        <title>Unknown's Website | Tempurature Converter</title>
    </head>
    <body class="blu-back">
        <body class="blu-back">
            <div class="box-div new div-2">
                <div class="row">
                    <div id="typel">
                        <a id="links">Links</a>
                    </div>
                    <div id="typen">
                        <a id="news">News</a>
                    </div>
                    <div id="typet">
                        <a id="temp">Temp Converter</a>
                    </div>
                    <div id="typ2">
                        <a onclick="document.location='../../'" target="_self">
                            <i class="fa-solid fa-book-open i prevent-select"> The Unknown Group</i>
                        </a>
                    </div>
                </div>
            </div>
            <div id="div">
                <form name="myForm" action="" method="GET">
                    <label id="header">Welcome! What are we converting today?</label>
                    <br>
                    <input type="text" name="input" value="" id="input" /><br>
                    <input type="button" name="button" value="Submit" id="btn">
                    <p id="p"></p>
                    <p id="ask"></p>
                    <input type="text" name="input2" value="" id="input2" /><br>
                    <input type="button" name="button2" value="Submit" id="btn2">
                    <p id="p2"></p>
                    <p id="ask2"></p>
                    <input type="text" name="input3" value="" id="input3" /><br>
                    <input type="button" name="button3" value="Submit" id="btn3">
                    <p id="p3"></p>
                </form>
            </div>
            <br>
            <h3 class="zilla-slab-regular pad-left">If you need help with things you should input, or if you would like to know how this works, please click <a  style="color: blue; text-decoration: underline;" class="zilla-slab-regular" onclick="document.location='tempwiki'">here</a>.</h3>
            <footer class="zilla-slab-regular new pad-left">Made by Devon Kaylor</footer>
    </body>
</html>