---
const response = await fetch("https://web.thegremlinx.xyz/public/launcher/version-lin.json");
const versions = await response.json();
---

<ul>
    {
        versions.map((version: { version: unknown; changelog: unknown; }) => {
            <li>
                <p>v{version.version}</p>
                <p>{version.changelog}</p>
            </li>
        })
    }
</ul>