<div class="header" id="h">
    <div class="icon column">
        <a href="https://github.com/TheUnknownGroup" target="_blank">
            <img src="../../assets/favicon.png" alt="TheUnknownGroup's Icon" width="40" id="icon"/>
        </a>
    </div>
    <div class="column home">
        <a href="../../download" class="lexend-reg" id="home">Home</a>
    </div>
    <div class="column linux">
        <a class="lexend-reg" id="linux">Linux</a>
    </div>    
    <div class="column wind">
        <a class="lexend-reg" id="wind">Windows</a>
    </div>    
    <div class="column maco">
        <a class="lexend-reg" id="maco">MacOS</a>
    </div>
</div>

<style>
    .header::after {
        content: "";
        clear: both;
        display: table;
    }

    .header {
        border-bottom: 0.015vh solid #e8edfc;
    }

    #home, #linux, #wind, #maco {
        cursor: pointer;
        text-decoration: none;
        transition: text-decoration 3s ease;
        color: #e9e7ee;
    }

    #home:hover, #linux:hover, #wind:hover, #mac:hover {
        text-decoration: underline;
        text-decoration-thickness: 3px;
    }

    .home, .linux, .wind, .maco {
        padding-top: 1em;
        padding-left: 1.25em;
        font-size: 20px;
        transform: translateY()
    }

    .icon {
        padding: 1.5vh 0 1.25vh 1.75vh;
    }

    #icon:hover {
        box-shadow: 1px 1px 15px #e9e7ee;
    }

    .column {
        float: left;
    }
</style>