html {
    scroll-behavior: smooth;
}

.lexend-reg {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #0e111e;
    padding: 0;
    margin: 0;
    color: #e8edfc;
}

.icon {
    padding: 1.5vh 0 1.25vh 2.5vh;
}

#icon:hover {
    box-shadow: 1px 1px 15px #e8edfc;
}

.column {
    float: left;
}

.header::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    border-bottom: 0.015vh solid #e8edfc;
}

#home, #guide {
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 3s ease;
    color: #e8edfc;
}

#home:hover, #guide:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.home, .guide {
    padding-top: 1em;
    padding-left: 1.25em;
    font-size: 20px;
    transform: translateY()
}

#wel {
    text-align: center;
    padding-top: 30vh;
    font-size: 50px;
    padding-bottom: 10vh;
}

#contain1 {
    display: flex;
    justify-content: center;
}

#inside1 {
    padding: 1.5vw;
    border: 1px solid #06080e;
    border-radius: 17px;
    width: 50vw;
    box-shadow: 1px 1px 10px rgb(6, 8, 14);
}

#subWel {
    font-size: 20px;
    color: rgba(232, 237, 252, 75%);
}

#main {
    cursor: pointer;
}

#main:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}