/* :root {
    --text: #eeecf2;
    --background: #1c1b1f;
    --primary: #a691e2;
    --secondary: #331297;
    --accent: #531bfd;
} 

:root[data-theme="light"] {
  --text: #151221;
  --background: #e2e1e5;
  --primary: #3c335c;
  --secondary: #c1bd8f;
  --accent: #5d9b55;
}
:root[data-theme="dark"] {
  --text: #e2dfed;
  --background: #1c1b1f;
  --primary: #ada4cd;
  --secondary: #706c3e;
  --accent: #6eaa66;
}

*/

html {
    scroll-behavior: smooth;
}

.lexend-reg {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #1c1b1f;
    padding: 0;
    margin: 0;
    color: #e9e7ee;
    height: 100vh;
}

.column {
    float: left;
}

.icon {
    padding: 1.5vh 0 1.25vh 1.75vh;
}

#icon:hover {
    box-shadow: 1px 1px 15px #e9e7ee;
}

.header::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    border-bottom: 0.015vh solid #e8edfc;
}

#home, #guide, #scroll {
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 3s ease;
    color: #e9e7ee;
}

#home:hover, #guide:hover, #scroll:hover, #main:hover, #bot:hover, #gui:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.home, .guide, .scroll {
    padding-top: 1em;
    padding-left: 1.25em;
    font-size: 20px;
    transform: translateY()
}

#wel {
    text-align: center;
    padding-top: 28vh;
    font-size: 50px;
    padding-bottom: 6.5vh;
}

#contain1 {
    display: flex;
    justify-content: center;
}

#inside1 {
    background-color: #706c3e;
    padding: 1.5vw;
    border: 1px solid #0d0d0f;
    border-radius: 27px;
    width: 50vw;
    box-shadow: 1px 1px 10px rgba(13, 13, 15, 100%), 1px 1px 10px rgba(13, 13, 15, 100%);
}

#subWel {
    font-size: 20px;
    color: rgba(231, 228, 238, 90%);
}

#main, #bot, #gui {
    cursor: pointer;
}

#up {
    padding-top: 15px;
    position: fixed;
    z-index: 0;
    right: 15px;
    cursor: pointer;
}

.head {
    padding-top: 25vh;
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
}

.box {
    display: flex;
    justify-content: center;
}

.container1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    gap: 32px;
}

.card {
    color: #151221;
    float: left;
    background-color: #6eaa66;
    border: 1px solid inherit;
    padding: 3px;
    width: 30vw;
    height: 45vh;
    margin-bottom: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(13, 13, 15, 80%), 1px 1px 10px rgba(13, 13, 15, 80%);
}

.p {
    padding-left: 10px;
    font-size: 20px;
}

.uptop {
    font-size: 25px;
    font-weight: bold;
    padding-top: 0.25em; 
    padding-left: 0.5em;
}

.h::after {
    content: "";
    clear: both;
    display: table;
}

.col {
    padding-top: 5px;
    padding-left: 5px;
    float: left;
}

.img {
    border: 3px solid #0c081b;
    border-radius: 20px;
    background: cover;
}