/* :root {
    --text: #eeecf2;
    --background: #1c1b1f;
    --primary: #a691e2;
    --secondary: #331297;
    --accent: #531bfd;
} 

:root[data-theme="light"] {
  --text: #0c081b;
  --background: #e2e1e5;
  --primary: #32236c;
  --secondary: #d9a687;
  --accent: #95a636;
}
:root[data-theme="dark"] {
  --text: #e9e5f7;
  --background: #1c1b1f;
  --primary: #a192dc;
  --secondary: #774526;
  --accent: #baca5a;
}

*/

html {
    scroll-behavior: smooth;
}

.lexend-reg {
    font-family: "Lexend", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

body {
    background-color: #1c1b1f;
    padding: 0;
    margin: 0;
    color: #e7e4ee;
    height: 200vh;
}

.icon {
    padding: 1.5vh 0 1.25vh 1.75vh;
}

#icon:hover {
    box-shadow: 1px 1px 15px #e7e4ee;
}

.column {
    float: left;
}

.header::after {
    content: "";
    clear: both;
    display: table;
}

.header {
    border-bottom: 0.015vh solid #e8edfc;
}

#home, #guide, #scroll {
    cursor: pointer;
    text-decoration: none;
    transition: text-decoration 3s ease;
    color: #e7e4ee;
}

#home:hover, #guide:hover, #scroll:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

.home, .guide, .scroll {
    padding-top: 1em;
    padding-left: 1.25em;
    font-size: 20px;
    transform: translateY()
}

#wel {
    text-align: center;
    padding-top: 30vh;
    font-size: 50px;
    padding-bottom: 10vh;
}

#contain1 {
    display: flex;
    justify-content: center;
}

#inside1 {
    padding: 1.5vw;
    border: 1px solid #0d0d0f;
    border-radius: 27px;
    width: 50vw;
    box-shadow: 1px 1px 10px rgba(13, 13, 15, 80%);
}

#subWel {
    font-size: 20px;
    color: rgba(231, 228, 238, 75%);
}

#main {
    cursor: pointer;
}

#main:hover {
    text-decoration: underline;
    text-decoration-thickness: 3px;
}

#up {
    padding-top: 90px;
    position: fixed;
    z-index: 0;
    right: 15px;
}

.head {
    padding-top: 25vh;
    text-align: center;
    padding-bottom: 10px;
    font-size: 40px;
}

.box {
    display: flex;
    justify-content: center;
}

.container1 {
    padding-right: 32px;
}

.card::after {
    content: "";
    clear: both;
    display: table;
}

.card {
    color: #0c081b;
    background-color: #baca5a;
    border: 1px solid inherit;
    padding: 3px;
    width: 35vw;
    height: 30vh;
    margin-bottom: 32px;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(13, 13, 15, 80%), 1px 1px 10px rgba(13, 13, 15, 80%);
}

.p {
    padding-left: 10px;
    font-size: 20px;
}